:root {
  --cl-body-font: "Open Sans", sans-serif;
  --cl-headings-font: "Rubik", sans-serif;
  --cl-primary-color: #0a80a0;
  --cl-secondary-color: #37C0A5;
  --value: 50;
  --min: 0;
  --max: 100;
}

body,
html {
  font-family: var(--cl-body-font);
  height: 100%;
  margin: 0;
}

/* navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: white;
}

.navbar-nav .nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--cl-primary-color) !important;
  transition: 0.1s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: var(--cl-secondary-color) !important;
}

.navbar-custom {
  padding: 14px 0;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  /* background-color: transparent; */
  margin-top: 0px;
  /* background-color: var(--cl-bg-white); */
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
  color: #222 !important;
}


.text-gradient {
  background: linear-gradient(90deg, #0a80a0, #37c0a5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

/* all calculators */
.calc-container {
  /* padding: 10px; */
  padding-top: 35px;
}

.calc-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.calc-card img {
  margin-bottom: 15px;
}

.calc-card h3 {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.calc-card p {
  font-size: 9px;
  color: #6c757d;
}

.main-content {
  min-height: 80vh;
  /* padding-top: 110px; */
  flex: 1;
  padding-top: 110px; /* space for fixed header */
  padding-bottom: 30px; /* prevent overlap with footer */
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--cl-primary-color);
}

.card {
  border-radius: 15px;
  border-color: #e3e3e3;
  overflow: hidden;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}


.radio-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}


.radio-group label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid var(--cl-secondary-color);
  border-radius: 50%;
  background: transparent;
}

.radio-group input[type="radio"]:checked + label::before {
  background: var(--cl-primary-color);
  border-color: var(--cl-primary-color);
}

.radio-group input[type="radio"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 90%;
  background: white;
}

.btn {
  width: 140px;
  background-color: var(--cl-primary-color);
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;  
  border: none;
}

.btn hover {
  background-color: var(--cl-secondary-color);
}


/* result */
.result-section {
  background-color: #f7f5fa;
  border: 0;
}


.totalreturns{
  color: #0a80a0;
  font-size: 18px;
}

/* Style for the back-button link */
.back-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: var(--cl-primary-color); /* Bootstrap primary color */
  color: white;
  border-radius: 30%;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, transform 0.3s;
}

/* Hover state */
.back-button:hover {
  background-color: var(
    --cl-secondary-color
  ); /* Darker shade of primary color */
  transform: scale(1.1);
}

/* Active state */
.back-button:active {
  background-color: var(
    --cl-primary-color
  ); /* Even darker shade of primary color */
  transform: scale(0.9);
}


/* xirr table  */
.table-custom {
  width: 70%;
  text-align: center;
}

/* form range  */
.custom-range {
  height: 10px;
  border-radius: 6px;
  background: transparent; 
   cursor: pointer;
}

.custom-range:focus {
  outline: none;

}

.custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #0a80a0;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
  margin-top: -5px;
  box-shadow: none !important;
   
}


.custom-range::-webkit-slider-thumb:focus,
.custom-range::-webkit-slider-thumb:active,
.custom-range::-webkit-slider-thumb:hover {
  background: #086984; /* Maintain the same background color */
  border: none;
  box-shadow: none;
  outline: none;
}


.custom-range::-webkit-slider-runnable-track {
  height: 10px;

  background: linear-gradient(to right, #878ca923 0%, #878ca923 100%);
  border: 2px;
  -webkit-appearance: none;
  border-radius: 6px;


  /* cursor: pointer; */
 
}

.custom-range::-moz-range-track {
  height: 10px;
  background: linear-gradient(to right, #878ca923 0%, #878ca923 100%);
  border-radius: 6px;
}

.custom-range::-ms-track {
  width: 100%;
  height: 10px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.custom-range::-ms-fill-lower {
  background: #0a80a0;
  border-radius: 6px;
}

.custom-range::-ms-fill-upper {
  background: transparent;
  border-radius: 6px;
}

.custom-range::-moz-range-thumb {
  height: 20px;
  width: 20px;
  background: #0a80a0;
  border-radius: 50%;
  cursor: pointer;
}

.custom-range::-ms-thumb {
  height: 20px;
  width: 20px;
  background: #0a80a0;
  border-radius: 50%;
  cursor: pointer;
  border:none
}


/* brokerge calc tabs */
.custom-tabs .nav-link {
  color: var(--cl-primary-color); 
  border: none; 
}

.custom-tabs .nav-link:hover {
  color: var(--cl-secondary-color); 
  border: none; 
}

.custom-tabs .nav-link.active {
  color: var(--cl-secondary-color); 
  border-bottom: 2px solid var(--cl-secondary-color); 
}


/* brokerage calc button active mode */
.active-mode {
  background-color: var(--cl-secondary-color); 
  color: white; 
}

.active-mode:hover {
  background-color: var(--cl-primary-color); 
}

.inactive-mode{
  background-color: grey;
}


/* CSS for the calculator description section */
.calc-description {
 
  padding: 20px;
  margin-top: 30px;
}

.calc-description p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 15px;
}

.calc-description h4 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
}

/* description */

.calc-description li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
} 




.similar-calc-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #ccc; /* Add border to the entire table */
  border-radius: 10px;
}

.similar-calc-table thead th {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc; /* Add border to the th element */
}

.similar-calc-table .calculator-link {
  border: 1px solid #ccc; /* Border color */
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.similar-calc-table .calculator-link a {
  text-decoration: none;
  color: #000; /* Link color */
}

.similar-calc-table .calculator-link a:hover {
  color: #007bff; /* Link hover color */
}


/* footer fix */
.calc-footer {
  background-color: var(--cl-primary-color);
  color: white;
  /* padding: 15px 0; */
  text-align: center;
  font-size: 14px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}



